.zoom-box{
    position: absolute;
    z-index:1000;
	background: none repeat scroll 0 0 #FFFFFF;
    display: none;
	left:3;
	top:3;
    overflow: hidden;
    width:300px;
	height:300px;
    -moz-box-shadow: 15px 15px 5px #888;
    -webkit-box-shadow: 15px 15px 5px #888;
    box-shadow: 15px 15px 5px #888;
}


.zoom-box img {
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
}

#del{width:30px;height:30px;}

#delete{
    position: absolute;
	width:30px;
	height:30px;
	top:0;
	display:none;
	z-index:1001;
}
 
#load{
	position:absolute; 
	z-index:2000;
	top:0; 
	left:0;
	height:60px;
	width:60px;
}
 
#springer{
	position:absolute;
	z-index:1000;
	top:0;
	left:0;
	width:148px; 
	height:148px; 
	background-color:#000;
	display:none;
	opacity: 0.5;
	filter: alpha(opacity=50);
	cursor:crosshair;
}
#gestalt{margin:0 0 0 500px;}

#pointer{
	width:auto; 
	height:auto; 
	background-color:#FFFFFF;     
	position: absolute;
    z-index:1000;
    display: none;
	left:0;
	top:0;
}
